.none {
	display:none;
}

#right {
	width: 75%;
	   margin-bottom: 30px;
	/*border: 1px solid #000;*/
}
#right_header {
	position: relative;
	height:auto;
	width: 90%;
    margin: 65 auto 65 25;
	/*border: 1px solid #0F0;*/
	border-left: 6px solid #696969;
	border-bottom: solid 6px #696969;
	float: left;
	
}
#about_title{
    position: relative;
    background: url(../photo/title_about.png) no-repeat 0 0;
	margin: 0 0 0 30;
	width: 310px;
	height:133px;
	float: left;
}

#about_smalltitle {
    color: #a501f1;
    float: right;
	margin: 15 40 0 0;
    font-size: 45px;
    letter-spacing: 3px;

}

#about{
	float: left;
	width: 90%;
	/*text-align: center;*/
    padding-bottom: 20px;
	border: 1px solid #a501f1;
	margin: auto auto auto 30;
}

#discourse{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border-bottom: solid 1px #a501f1;
}

#logo_cover img{
	margin: 0 auto;
}

#introduction{
	background: url(../photo/intro.png) no-repeat center center;
	margin: 0 auto;
	height: 70%;
}

#introduction  p{
    visibility: hidden;
}

#introduction  p{
    text-align: center;
    line-height: 2;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
	/*font-family:Comic Sans MS,arial,helvetica,sans-serif;*/
	/*font-family: Georgia,Baskerville,Palatino,Times;*/
	font-family: YuMincho, '´å©ú´Â', serif;
}

.c1 {
	 color: #aeaf7e;
}


@media screen and (max-width: 1000px) {
	#right{
		display:block;
		width: 100%;
	}
	
	#right_header {
    margin: 65 25 25 25;
	/*border: 1px solid #0F0;*/
	border-left: none;
	border-bottom: solid 6px #696969;
	float: inherit;
}

	#about_smalltitle {
    font-size: 25px;

}

	#about_title{
	 margin-left: 20px;
	background-size: 255px 120px;
	width: 255px;
    height: 120px;
}

#about {
	text-align: center;
	margin: 35 25 30 25;
	float: inherit;
}
	

#introduction{
	background-size:100%;
}






}

@media screen and (max-width: 520px) {
	#right{
		padding-right: 0px;
		display:block;
		width: 100%;
		text-align: center;
	}
	#right_header {
	width: 100%;
    margin: 0;
	/*border: 1px solid #0F0;*/
	border-left: none;
	border-bottom: solid 6px #696969;
	float: inherit;
}
	#about_title{
	background-size: 255px 120px;
	margin: 0 auto;
	float:none;
}
	#about_smalltitle {
	margin: 0 auto;
    font-size: 25px;
	float:none;
}
	#about{
	width:99%;
	margin: 25 auto 0 auto;
	float: inherit;
}

#introduction{
	width:100%;
	background-size: 100%;
}




