.none {
	display:none;
}

#right {
	width: 75%;
	   margin-bottom: 30px;
	/*border: 1px solid #000;*/
}
#right_header {
	position: relative;
	height:auto;
	width: 90%;
    margin: 65 auto 65 25;
	/*border: 1px solid #0F0;*/
	border-left: 6px solid #696969;
	border-bottom: solid 6px #696969;
	float: left;
	
}
#interview_title{
    position: relative;
    background: url(../photo/title_interview.png) no-repeat 0 0;
	margin: 0 0 0 30;
	width: 310px;
	height:133px;
	float: left;
}

#interview_smalltitle {
    color: #EE82EE;
    float: right;
	margin: 15 40 0 0;
    font-size: 45px;
    letter-spacing: 3px;

}

#interview{
	float: left;
	width: 90%;
	/*text-align: center;*/
    padding-bottom: 20px;
	border: 1px solid #EE82EE;
	margin: auto auto auto 30;
}

@media screen and (max-width: 1000px) {
	#right{
		display:block;
		width: 100%;
	}
	
	#right_header {
    margin: 65 25 25 25;
	/*border: 1px solid #0F0;*/
	border-left: none;
	border-bottom: solid 6px #696969;
	float: inherit;
}

	#interview_smalltitle {
    font-size: 25px;

}

	#interview_title{
	 margin-left: 20px;
	background-size: 255px 120px;
	width: 255px;
    height: 120px;
}

#interview {
	text-align: center;
	margin: 35 25 30 25;
	float: inherit;
}



}